<!-- Slideshow -->
<div class="w3-container">
  <div class="w3-display-container mySlides">
    <iframe class="video" src="https://www.youtube.com/embed/wMlhWvIh7U4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="w3-display-left w3-container w3-padding-32">
      <span class="w3-round-large w3-white w3-padding-large w3-animate-bottom">Lorem ipsum blah blah blah</span>
    </div>
  </div>
  <div class="w3-display-container mySlides">
    <iframe class="video" width="100%" height="100%" src="https://www.youtube.com/embed/GzF0AETdRF8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="w3-display-left w3-container w3-padding-32">
      <span class="w3-round-large w3-white w3-padding-large w3-animate-bottom">Klorim tipsum</span>
    </div>
  </div>
  <div class="w3-display-container mySlides">
   
    <iframe class="video" src="https://www.youtube.com/embed/sKrH7hKWSr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class= w3-display-left w3-container w3-padding-32">
      <span class="w3-round-large w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span>
    </div>
  </div>

  <!-- Slideshow next/previous buttons -->
  <div class="w3-container w3-margin-top w3-dark-grey w3-padding w3-xlarge">
    <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
    <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
  
    <div class="w3-center">
      <span class="w3-tag demodots  w3-round-large w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
      <span class="w3-tag demodots w3-border  w3-round-large w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
      <span class="w3-tag demodots w3-border  w3-round-large w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    </div>
  </div>
</div>